.App {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 10px;
}

.App-header {
  background-color:white;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: #ff99bb;
  padding-bottom: 25px;
  border-radius: 50px;
  border-color: #ffddee;
  border-width: 5px;
  border-style: solid;
}